.calque1Icon {
  height: 66px;
  width: 269px;
  position: relative;
}
.calque1Icon,
.linkedInIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.linkedInIcon,
.linkedInLabels {
  height: 34px;
  width: 34px;
  position: relative;
}
.linkedInButton,
.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.socialLinks {
  align-items: flex-end;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.ourAppHelps {
  height: 69px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.contactDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.website {
  width: 234px;
  height: 31px;
}
.contactDetailsParent {
  width: 452px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.appStoreIcon,
.googlePlayIcon {
  height: 28px;
  width: 109px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.googlePlayIcon {
  width: 118px;
}
.downloadOptions,
.storeButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.downloadOptions {
  flex-direction: column;
  align-items: flex-end;
}
.downloadOptionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.footer,
.footerContent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.footerContent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-81xl) var(--padding-141xl) var(--padding-80xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.footer {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  margin-top: -894px;
  text-align: left;
  font-size: var(--p-size);
  color: var(--white);
  font-family: var(--p);
}
@media screen and (max-width: 1300px) {
  .footerContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .footerContent {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .socialLinks {
    gap: var(--gap-mid);
    flex-wrap: wrap;
  }
  .contactDetails {
    gap: var(--gap-xl);
  }
  .footerContent {
    padding: var(--padding-895xl) var(--padding-xl) var(--padding-45xl);
    box-sizing: border-box;
  }
}
